<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.putrayelfihapp.mp3juicecc">

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.TransparentTheme.NoActionBar">
        <activity android:name="com.putrayelfihapp.mp3juicecc.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:windowSoftInputMode="adjustNothing"
            android:name="com.putrayelfihapp.mp3juicecc.MainActivity">

        </activity>
        <receiver android:name="com.putrayelfihapp.mp3juicecc.notifservice.NotificationActionService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admobappid" />
        <service android:name="com.putrayelfihapp.mp3juicecc.tools.MusicService" />
        <meta-data android:name="applovin.sdk.key"
            android:value="@string/applovinsdkkey"/>
    </application>

</manifest>